/* these styles are loaded only in design mode */

.player-top {
  border: 4px solid yellow;
}

.player-bottom {
  border: 4px solid yellow;
}

.player-left {
  border: 4px solid yellow;
}

.player-right {
    border: 4px solid yellow;
}

