/* these styles are loaded only in design mode */

.player-top {
  border: 4px solid yellow;
}

.player-bottom {
  border: 4px solid yellow;
}

.player-left {
  border: 4px solid yellow;
}

.player-right {
    border: 4px solid yellow;
}

.player-label {
    border: 4px dashed yellow;
}


.player-hand {
  border: 4px dashed blue;
}

.trick-0 {
    position: absolute; 
    top:210px;
    left: 210px;
}

.trick {
    border: 4px dashed white;
}

@keyframes move-to-location {
    to {
        transform: translate(-197px, 106px);
    }
}

